body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

p {
    font-size: 16px;
    color: aquamarine;
}
